header {
    background-color: rgb(157, 255, 157);
    color: rgb(26, 195, 37);
    padding: 5px;
    nav {
        display: flex;
        justify-content: space-around;

        a {
            all: unset;
        }

        div {
            display: flex;
            gap: 10px;
            cursor: pointer;
        }

    }
}